<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eboltify.sales">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EboltifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="28a0fb5a03e7db37953a5e3e2bea3eafd6a64933" />

        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.handle_error.HandleErrorActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.items_management.ItemsManagementActivity" />
        <activity android:name=".ui.items_all.ItemsAllActivity" />
        <activity android:name=".ui.items_create.ItemsCreateActivity" />
        <activity android:name=".ui.categories_all.CategoriesAllActivity" />
        <activity android:name=".ui.categories_create.CategoriesCreateActivity" />
        <activity android:name=".ui.discount.DiscountActivity" />
        <activity android:name=".ui.discount_create.DiscountCreateActivity"></activity>
    </application>

</manifest>